.float {
overflow: hidden;
background-color: #eee;
width: 600px;
padding: 20px;
}

/* hello mody  */
.float {
    overflow: hidden;
    background-color: #eee;
    width: 600px;
    padding: 20px;
    }