.one{
padding: 10px; 
border-bottom: 2px solid black;
color: gold;
margin: 10px;
background-color:#eee ;
}
.two{
  padding: 10px; 
  border-bottom: 2px solid purple;
  color: purple;
  margin: 10px;
  background-color:#eee ;
  }
  .three{
    padding: 10px; 
    border-bottom: 2px solid green;
    color: greenyellow;
    margin: 10px;
    background-color:#eee ;
    }
    .four{
      padding: 10px; 
      border-bottom: 2px solid green;
      color: white;
      margin: 10px;
      background-color:#eee ;
      }
      .five{
        padding: 10px; 
        border-bottom: 2px solid blueviolet;
        color: black;
        margin: 10px;
        background-color:#eee ;
        }
        
        
              
              
              
              
            
            
            
             
          
          
          
        
        
        
      
      
      
      
    
    
    
     
  
  
  


