/*
   Css Variables
 */ 
 .main { 
  background-color: green; 
  color: white;
  padding: 20px;
}

h2 {
  color: green;
  background-color: #eee;
  padding: 20px;
}
p {
  color: green;
  border: 2px solid green;
} 